<div [formGroup]="frmGroup()" [ngClass]="isVertical() ? 'input-container-vertical': 'input-container-horizontal'"> 
  <label class="input-label"> 
    {{ label() }} 
    @if (isRequired()) { 
      <span class="text-red-500">*</span> 
    } 
  </label> 
 
  <div class="relative">
    <input
      [ngClass]="{'readonly-input': isReadonly() }"
      matInput
      [readonly]="isReadonly()"
      [formControlName]="controlName()"
      [placeholder]="placeholder()"
      [maxlength]="23"
      class="custom-input"
      (input)="onTimeChange($event)"
    />
    <button
      type="button"
      [disabled]="isReadonly()"
      class="absolute top-1/2 right-2 -translate-y-1/2 time-picker-btn"
      (click)="openTimePicker()"
    >
      <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
    </button>
  </div>
          
  @if (frmGroup().get(controlName())?.errors &&  
      (frmGroup().get(controlName())?.touched || frmGroup().get(controlName())?.dirty)) { 

  <div class="text-red-500 text-sm mt-1"> 
    @if (frmGroup().get(controlName())?.hasError('required')) { 
      {{ label() }} is required..! 
    } 
  </div> 
} 

@if (frmGroup().get(controlName())?.value && !validateTimeFormat(frmGroup().get(controlName())?.value)) {
  <div class="text-orange-500 text-xs mt-1">
    Invalid time format. Expected: HH:MM:SS.sss±HH:MM
  </div>
}
</div> 