<div [formGroup]="frmGroup()" class="input-container-horizontal">
  <label class="input-label">
    {{ labelText() }}
    @if (isRequired()) {
      <span class="text-red-500">*</span>
    }
  </label>

  <div class="office-box-input-group input-wrapper">
    <!-- Office Code Input -->
    <input
      [formControlName]="controlName()"
      [ngClass]="{'readonly-input': isReadonly() }"
      [readonly]="isReadonly()"
      [maxlength]="maxLen() || null"
      [minlength]="minLen() || null"
      matInput
      [matTooltip]="tooltip()"
      [matTooltipPosition]="tooltipPosition()"
      [matTooltipClass]="tooltipClass()"
      [matTooltipDisabled]="!tooltip()"
      [placeholder]="placeholder() ?? 'Enter ' + labelText()"
      class="custom-input office-box-input"
      (keydown)="preventSpecialChars($event)"
    />
    @if (frmGroup().get(controlName())?.value && !isReadonly()) {
      <button 
        type="button"
        class="clear-button"
        (click)="clearInput()"
        [attr.aria-label]="'Clear ' + labelText()">
        <mat-icon>close</mat-icon>
      </button>
    }
    <!-- Office Name Display -->
    <span class="office-box-name" *ngIf="officeName()">
      {{ officeName() }}
    </span>
  </div>

  @if (frmGroup().get(controlName())?.errors && 
      (frmGroup().get(controlName())?.touched || frmGroup().get(controlName())?.dirty)) {

    <div class="text-red-500 text-sm mt-1">
      @if (frmGroup().get(controlName())?.hasError('required')) {
        {{ labelText() }} is required..!
      }
      @if (frmGroup().get(controlName())?.hasError('minlength')) {
        {{ labelText() }} must be at least {{ frmGroup().get(controlName())?.errors?.['minlength']?.requiredLength }} characters.
      }
      @if (frmGroup().get(controlName())?.hasError('maxlength')) {
        {{ labelText() }} cannot be more than {{ frmGroup().get(controlName())?.errors?.['maxlength']?.requiredLength }} characters.
      }

      @if (hasCustomErrors()) {
        @for (errorKey of getCustomErrorKeys(); track errorKey) {
          <div>{{ getCustomErrorMessage(errorKey) }}</div>
        }
      }
    </div>
  }
</div>