<div class="page-wrapper mt-6">
  <div class="data-grid-container container-fluid" [id]="id()">
    <!-- Search and Controls Bar -->
     @if(searchEnabled()) {
    <div class="controls-bar">
      <div class="search-section">
      <mat-form-field  class="search-field">
        <mat-label>Search</mat-label>
        <input 
          matInput 
          type="text" 
          placeholder="Search in all columns..."
          (input)="onSearch($any($event.target).value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    </div>
  }
    <!-- Data Table -->
    <div class="table-container" style="overflow-x: scroll; max-width: 100%;">
      <table mat-table [dataSource]="displayedData()" [class]="tblClass()" class="data-table">
        <!-- Selection Column -->
        <ng-container sticky matColumnDef="selection" *ngIf="enableSelection()">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="isAllSelected()"
              [indeterminate]="selectedCount() > 0 && selectedCount() < displayedData().length"
              (change)="onSelectAll($event.checked)" aria-label="Select all rows">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-checkbox [checked]="isRowSelected(i)" (change)="onRowSelect(i, $event.checked)"
              aria-label="Select row">
            </mat-checkbox>
          </td>
        </ng-container>


        <!-- Actions Column -->
        <ng-container sticky matColumnDef="actions"
          *ngIf="showEditButton() || showDeleteButton() || showViewButton() || showPrintButton()">
          <th style="background: #106ebe;" mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div class="action-buttons ">
              <!-- Edit Button -->
              <button *ngIf="showEditButton()" mat-icon-button color="primary" matTooltip="Edit"
                (click)="useInlineEdit() ? (isRowEditing(i) ? saveEdit(i) : startEdit(i)) : onEditClick(element)"
                class="action-btn edit-btn">
                <!-- <mat-icon>{{ useInlineEdit() && isRowEditing(i) ? 'save' : 'edit' }}</mat-icon> -->
                <ng-container *ngIf="!isRowEditing(i); else saveIcon">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5 19H6.098L16.796 8.30202L15.698 7.20402L5 17.902V19ZM4 20V17.48L17.18 4.28802C17.2833 4.19668 17.3967 4.12602 17.52 4.07602C17.6433 4.02602 17.7723 4.00068 17.907 4.00002C18.0417 3.99935 18.1717 4.02068 18.297 4.06402C18.4237 4.10602 18.5403 4.18201 18.647 4.29201L19.714 5.36602C19.824 5.47202 19.8993 5.58868 19.94 5.71602C19.98 5.84268 20 5.96935 20 6.09602C20 6.23202 19.9773 6.36202 19.932 6.48602C19.886 6.60935 19.8133 6.72235 19.714 6.82502L6.519 20H4ZM16.238 7.76202L15.698 7.20402L16.796 8.30202L16.238 7.76202Z"
                      fill="black" />
                  </svg>
                </ng-container>

                <ng-template #saveIcon>
                  <mat-icon>save</mat-icon>
                </ng-template>


              </button>

              <!-- Cancel Edit Button -->
              <button *ngIf="isRowEditing(i)" mat-icon-button color="warn" matTooltip="Cancel" (click)="cancelEdit()"
                class="action-btn cancel-btn">
                <mat-icon>close</mat-icon>
              </button>

              <!-- View Button -->
              <button *ngIf="showViewButton() && !isRowEditing(i)" mat-icon-button color="accent" matTooltip="View"
                (click)="onViewClick(element)" class="action-btn view-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 9C12.7956 9 13.5587 9.31607 14.1213 9.87868C14.6839 10.4413 15 11.2044 15 12C15 12.7956 14.6839 13.5587 14.1213 14.1213C13.5587 14.6839 12.7956 15 12 15C11.2044 15 10.4413 14.6839 9.87868 14.1213C9.31607 13.5587 9 12.7956 9 12C9 11.2044 9.31607 10.4413 9.87868 9.87868C10.4413 9.31607 11.2044 9 12 9ZM12 4.5C17 4.5 21.27 7.61 23 12C21.27 16.39 17 19.5 12 19.5C7 19.5 2.73 16.39 1 12C2.73 7.61 7 4.5 12 4.5ZM3.18 12C3.98825 13.6503 5.24331 15.0407 6.80248 16.0133C8.36165 16.9858 10.1624 17.5013 12 17.5013C13.8376 17.5013 15.6383 16.9858 17.1975 16.0133C18.7567 15.0407 20.0117 13.6503 20.82 12C20.0117 10.3497 18.7567 8.95925 17.1975 7.98675C15.6383 7.01424 13.8376 6.49868 12 6.49868C10.1624 6.49868 8.36165 7.01424 6.80248 7.98675C5.24331 8.95925 3.98825 10.3497 3.18 12Z"
                    fill="blue" />
                </svg>

              </button>

              <!-- Delete Button -->
              <button *ngIf="showDeleteButton() && !isRowEditing(i)" mat-icon-button  matTooltip="Delete"
                (click)="onDeleteClick(element)" class="action-btn delete-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6 19C6 19.5304 6.21071 20.0391 6.58579 20.4142C6.96086 20.7893 7.46957 21 8 21H16C16.5304 21 17.0391 20.7893 17.4142 20.4142C17.7893 20.0391 18 19.5304 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z"
                    fill="red" />
                </svg>
              </button>

              <!-- Print Button -->
              <button *ngIf="showPrintButton() && !isRowEditing(i)" mat-icon-button color="primary" matTooltip="Print"
                (click)="onPrintClick(element)" class="action-btn print-btn">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16 8V5H8V8H6V3H18V8H16ZM18 12.5C18.2833 12.5 18.521 12.404 18.713 12.212C18.905 12.02 19.0007 11.7827 19 11.5C18.9993 11.2173 18.9033 10.98 18.712 10.788C18.5207 10.596 18.2833 10.5 18 10.5C17.7167 10.5 17.4793 10.596 17.288 10.788C17.0967 10.98 17.0007 11.2173 17 11.5C16.9993 11.7827 17.0953 12.0203 17.288 12.213C17.4807 12.4057 17.718 12.5013 18 12.5ZM16 19V15H8V19H16ZM18 21H6V17H2V11C2 10.15 2.29167 9.43767 2.875 8.863C3.45833 8.28833 4.16667 8.00067 5 8H19C19.85 8 20.5627 8.28767 21.138 8.863C21.7133 9.43833 22.0007 10.1507 22 11V17H18V21ZM20 15V11C20 10.7167 19.904 10.4793 19.712 10.288C19.52 10.0967 19.2827 10.0007 19 10H5C4.71667 10 4.47933 10.096 4.288 10.288C4.09667 10.48 4.00067 10.7173 4 11V15H6V13H18V15H20Z"
                    fill="black" />
                </svg>

              </button>
            </div>
          </td>
        </ng-container>

        <!-- Data Columns -->
        <ng-container *ngFor="let column of columns()" [matColumnDef]="column.property">
          <th mat-header-cell *matHeaderCellDef [class.sortable]="column.sortable"
            (click)="column.sortable ? onSort(column.property) : null" [style.width]="column.width">
            <div class="header-content">
              <span>{{ column.header }}</span>
              <mat-icon *ngIf="column.sortable" class="sort-icon" [class.sorted]="_sortColumn() === column.property"
                [class.asc]="_sortColumn() === column.property && _sortDirection() === 'asc'"
                [class.desc]="_sortColumn() === column.property && _sortDirection() === 'desc'">
                {{ _sortColumn() === column.property && _sortDirection() === 'desc' ? 'arrow_downward' : 'arrow_upward'
                }}
              </mat-icon>
            </div>
          </th>
          <td mat-cell *matCellDef="let element; let i = index" [ngStyle]="getRowStyle(element)"
            [style.width]="column.width">
            <!-- Editable Cell -->
            <ng-container *ngIf="isRowEditing(i) && column.isEditable; else displayCell">

              <!-- Dropdown/Select Field -->
              <ng-container *ngIf="column.isDropdown; else regularInput">
                <mat-form-field appearance="outline" class="inline-edit-field">
                  <mat-select [value]="getEditingValue(column.property)"
                    (selectionChange)="setEditingValue(column.property, $event.value)" [multiple]="column.isMultiSelect"
                    class="inline-select">
                    <mat-option *ngFor="let option of getDropdownOptions(column, element)" [value]="option.value"
                      [disabled]="option.disabled">
                      {{ option.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>

              <!-- Regular Input Field -->
              <ng-template #regularInput>
                <mat-form-field appearance="outline" class="inline-edit-field">
                  <input matInput [type]="column.isNumeric ? 'number' : 'text'"
                    [value]="getEditingValue(column.property)"
                    (input)="setEditingValue(column.property, $any($event.target).value)" class="inline-input" />
                </mat-form-field>
              </ng-template>
            </ng-container>

            <!-- Display Cell - Fixed the pipe issue -->
            <ng-template #displayCell>
              <span [class.numeric]="column.isNumeric">
                <ng-container *ngIf="column.isDropdown; else nonDropdownCell">
                  {{ getDropdownDisplayText(column, getPropertyValue(element, column.property), element) }}
                </ng-container>
                <ng-template #nonDropdownCell>
                  <ng-container *ngIf="column.isNumeric; else nonNumericCell">
                    {{ getPropertyValue(element, column.property) | number:'1.2-2' }}
                  </ng-container>
                  <ng-template #nonNumericCell>
                    {{ getPropertyValue(element, column.property) }}
                  </ng-template>
                </ng-template>
              </span>
            </ng-template>
          </td>
        </ng-container>



        <!-- Row Template -->
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: getDisplayedColumns()" class="data-row"
          [class.selected]="isRowSelected(i)" [class.editing]="isRowEditing(i)"></tr>
      </table>
    </div>

    <!-- Pagination -->
    <div class="pagination-container" *ngIf="_filteredData().length > 0">
      <mat-paginator [length]="_filteredData().length" [pageSize]="_pageSize()" [pageIndex]="_currentPage()"
        [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPageChange($event)" showFirstLastButtons
        aria-label="Select page">
      </mat-paginator>
    </div>

    <!-- Status Bar -->
    <div class="status-bar">
      <span class="status-info">
        Showing {{ (_currentPage() * _pageSize()) + 1 }} to {{ Math.min((_currentPage() + 1) * _pageSize(),
        _filteredData().length) }} of {{ _filteredData().length }} entries
      </span>
      <span class="selection-info" *ngIf="enableSelection() && selectedCount() > 0">
        {{ selectedCount() }} row(s) selected
      </span>
    </div>
  </div>
</div>