<div [formGroup]="frmGroup()" class="input-container-horizontal" [matTooltip]="tooltip()">
  <label class="input-label relative">
    {{ label() }}
    @if (isRequired()) {
    <span class="text-red-500">*</span>
    }
  </label>

  <div class="input-with-button-container">
    <input
      [formControlName]="controlName()"
      matInput
      [ngClass]="{'readonly-input': isReadonly() }"
      type="text"
      (keyup)="onChangeInput()"
      [placeholder]="placeholder() ?? 'Enter ' + label()"
      [readonly]="isReadonly()"
      [maxlength]="maxLength() || null"
      class="custom-input"
      (keydown)="preventSpecialChars($event)"
      />
    
    @if (isDotsVisible()) {
    <button 
      type="button"
      class="dots-button"
      (click)="onDotsClick()"
      [disabled]="isReadonly()"
      matRipple>
      ...
    </button>
    }
  </div>

  @if (isInvalid()) {
  <div class="text-red-500 text-sm mt-1">
    @if (hasError('required')) {
    <ng-container>
      {{ label() }} is required..!
    </ng-container>
    }

    @if (hasError('minlength')) {
    <ng-container>
      Minimum length required is {{ getErrorValue('minlength')?.requiredLength }} characters
    </ng-container>
    }

    @if (hasError('maxlength')) {
    <ng-container>
      Maximum length allowed is {{ getErrorValue('maxlength')?.requiredLength }} characters
    </ng-container>
    }

    @if (hasError('pattern')) {
    <ng-container>
      {{ label() }} format is invalid
    </ng-container>
    }

     @if (frmGroup().get(controlName())?.hasError('specialCharacterNotAllowed')) {
      {{ label() }} contains invalid characters.
    }
  </div>
  }
</div>