

// .input-label {
//   font-weight: 500;
//   margin-bottom: 4px;
//   color: #374151;
// }

.input-with-button-container {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-input {
  flex: 1;
  padding-right: 50px; 
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  transition: all 0.2s ease;
  
  &:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
  }

  &.readonly-input {
    background-color: #f9fafb;
    color: #6b7280;
    cursor: not-allowed;
  }
}

.dots-button {
  position: absolute;
  right: 1px;
//   top: 50%;
//   transform: translateY(-50%);
  background: #265cc9;
//   border: 1px solid #d1d5db;
  border-radius: 4px;
  width: 46px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  transition: all 0.2s ease;
  

}