<div class="form-grid-col-1">

  <div class="form-grid-col-1">
    <app-text-base-input
      [frmGroup]="frmGroup()"
      [label]="'Character Set'"
      [controlName]="'charSet'"
    />
  </div>

  <div class="sub-panel">
    <app-expansion-sub-panel-header
      [isOpenSignal]="frmBicPnl"
      [subPanelTitle]="'From'"
    />
    @if(frmBicPnl()) {
      <div class="form-grid-col-1">
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'BIC'"
          [controlName]="'fromBicfi'"
          (onDoubleClick)="openBicSelectionModal('fromBicfi','fromNm')"
        />
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Clearing System ID Code'"
          [controlName]="'fromClrSysIdCd'"
        />
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Member ID'"
          [controlName]="'fromMembId'"
        />
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'LEI'"
          [controlName]="'fromLei'"
        />
      </div>
    }
  </div>
  <div class="sub-panel mb-2">
    <app-expansion-sub-panel-header
      [isOpenSignal]="toBicPnl"
      [subPanelTitle]="'To'"
    />
    @if(toBicPnl()) {
      <div class="form-grid-col-1">
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'BIC'"
          [controlName]="'toBicfi'"
          (onDoubleClick)="openBicSelectionModal('toBicfi','toNm')"
        />
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Clearing System ID Code'"
          [controlName]="'toClrSysIdCd'"
        />
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Member ID'"
          [controlName]="'toMembId'"
        />
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'LEI'"
          [controlName]="'toLei'"
        />
      </div>
    }
  </div>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [isReadonly]="true"
                       [label]="'Business Message Identifier'"
                       [controlName]="'bizMsgIdr'"/>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [label]="'Message Definition Identifier'"
                       [controlName]="'msgDefIdr'"/>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [label]="'Business Service'"
                       [controlName]="'bizSvc'"/>

  <app-select-option-field [frmGroup]="frmGroup()"
                           [options]="duplicateOptions()"
                           [label]="'Copy Duplicate'"
                           [controlName]="'cpyDplct'"/>

  <app-select-option-field [frmGroup]="frmGroup()"
                           [options]="duplicateOptions()"
                           [label]="'Possible Duplicate'"
                           [controlName]="'psblDplct'"/>


  <app-select-option-field [frmGroup]="frmGroup()"
                           [options]="priorityOptions()"
                           [label]="'Priority'"
                           [controlName]="'prty'"/>
  <app-date-input
    [frmGroup]="frmGroup()"
    [label]="'Creation Date'"
    [controlName]="'creDt'"
  />

</div>
