<div class="form-grid-3-col">

  <app-text-base-input [frmGroup]="frmGroup()"
                       [label]="'From BIC'"
                       [controlName]="'fromBic'"/>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [label]="'To BIC'"
                       [controlName]="'toBic'"
                       (onDoubleClick)="onPickclick()"/>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [isReadonly]="true"
                       [label]="'Business Message Identifier'"
                       [controlName]="'businessMessageIdentifier'"/>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [label]="'Message Definition Identifier'"
                       [controlName]="'messageDefinitionIdentifier'"/>

  <app-text-base-input [frmGroup]="frmGroup()"
                       [label]="'Business Service'"
                       [controlName]="'businessService'"/>

  <app-select-option-field [frmGroup]="frmGroup()"
                           [options]="duplicateOptions()"
                           [label]="'Copy Duplicate'"
                           [controlName]="'copyDuplicate'"/>

  <app-select-option-field [frmGroup]="frmGroup()"
                           [options]="priorityOptions()"
                           [label]="'Priority'"
                           [controlName]="'priority'"/>

</div>

@if (isPickTableDialogOpen()) {
  <app-data-selection-modal [isPickTableDialogOpen]="isPickTableDialogOpen()"
                            [dataSource]="pickTableDataSource()"
                            [pickTablePair]="pickTablePair()"
                            (result)="closeDialog($event)"
  />
}
