<div class="sub-panel">
  <app-sub-panel-header 
    [subPanelTitle]="title()"
    [divElement]="agentDetails"
    [isOptional]="isOptional()"
  />
  
  <div #agentDetails class="form-grid-4-col">
    @if (controlExists('Bic')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'BICFI'"
        [controlName]="controlPrefix + 'Bic'"
      />
    }

    @if (controlExists('ClrSysIdCd')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'Clearing System ID Code'"
        [controlName]="controlPrefix + 'ClrSysIdCd'"
      />
    }

    @if (controlExists('MmbId')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'Member ID'"
        [controlName]="controlPrefix + 'MmbId'"
      />
    }

    @if (controlExists('Lei')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'LEI'"
        [controlName]="controlPrefix + 'Lei'"
      />
    }

    @if (controlExists('Nm')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'Name'"
        [controlName]="controlPrefix + 'Nm'"
      />
    }

    @if (controlExists('AdrLine1')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'Address Line 1'"
        [controlName]="controlPrefix + 'AdrLine1'"
      />
    }

    @if (controlExists('AdrLine2')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'Address Line 2'"
        [controlName]="controlPrefix + 'AdrLine2'"
      />
    }

    @if (controlExists('AdrLine3')) {
      <app-text-base-input
        [frmGroup]="frmGroup()"
        [label]="'Address Line 3'"
        [controlName]="controlPrefix + 'AdrLine3'"
      />
    }
  </div>

  <!-- Address Details -->
  <div class="sub-panel">
    <app-sub-panel-header 
      [subPanelTitle]="'Address Details'"
      [divElement]="addressDetails"
      [isOptional]="true"
    />
    
    <div #addressDetails class="form-grid-4-col">
      @if (controlExists('AdrDept')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Department'"
          [controlName]="controlPrefix + 'AdrDept'"
        />
      }

      @if (controlExists('AdrSubDept')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Sub Department'"
          [controlName]="controlPrefix + 'AdrSubDept'"
        />
      }

      @if (controlExists('AdrStrtNm')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Street Name'"
          [controlName]="controlPrefix + 'AdrStrtNm'"
        />
      }

      @if (controlExists('AdrBldgNb')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Building Number'"
          [controlName]="controlPrefix + 'AdrBldgNb'"
        />
      }

      @if (controlExists('AdrBldgNm')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Building Name'"
          [controlName]="controlPrefix + 'AdrBldgNm'"
        />
      }

      @if (controlExists('AdrFlr')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Floor'"
          [controlName]="controlPrefix + 'AdrFlr'"
        />
      }

      @if (controlExists('AdrPstBx')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Post Box'"
          [controlName]="controlPrefix + 'AdrPstBx'"
        />
      }

      @if (controlExists('AdrRoom')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Room'"
          [controlName]="controlPrefix + 'AdrRoom'"
        />
      }

      @if (controlExists('AdrPstCd')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Post Code'"
          [controlName]="controlPrefix + 'AdrPstCd'"
        />
      }

      @if (controlExists('AdrTwnNm')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Town Name'"
          [controlName]="controlPrefix + 'AdrTwnNm'"
        />
      }

      @if (controlExists('AdrTwnLctnNm')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Town Location Name'"
          [controlName]="controlPrefix + 'AdrTwnLctnNm'"
        />
      }

      @if (controlExists('AdrDstrctNm')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'District Name'"
          [controlName]="controlPrefix + 'AdrDstrctNm'"
        />
      }

      @if (controlExists('AdrCtrySubDvsn')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Country Sub Division'"
          [controlName]="controlPrefix + 'AdrCtrySubDvsn'"
        />
      }

      @if (controlExists('AdrCtry')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Country'"
          [controlName]="controlPrefix + 'AdrCtry'"
        />
      }

      @if (controlExists('AdrAdrLine1')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Address Line 1'"
          [controlName]="controlPrefix + 'AdrAdrLine1'"
        />
      }

      @if (controlExists('AdrAdrLine2')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Address Line 2'"
          [controlName]="controlPrefix + 'AdrAdrLine2'"
        />
      }

      @if (controlExists('AdrAdrLine3')) {
        <app-text-base-input
          [frmGroup]="frmGroup()"
          [label]="'Address Line 3'"
          [controlName]="controlPrefix + 'AdrAdrLine3'"
        />
      }
    </div>
  </div>
</div> 