<div [formGroup]="frmGroup()" class="input-container-horizontal">
  <label class="input-label">
    {{ label() }}
    @if (isRequired()) {
      <span class="text-red-500">*</span>
    }
  </label>

  <div class="relative">
    <input
      [ngClass]="{'readonly-input': isReadonly()}"
      matInput
      [readonly]="isReadonly()"
      [formControlName]="controlName()"
      [matDatepicker]="dobPicker"
      [placeholder]="dateFormat()"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
      (keydown)="onKeyDown($event)"
      class="custom-input"
    />
    <mat-datepicker-toggle
      [disabled]="isReadonly()"
      matSuffix
      [for]="dobPicker"
      class="absolute top-1/2 right-2 -translate-y-1/2"
    ></mat-datepicker-toggle>
    <mat-datepicker #dobPicker></mat-datepicker>
  </div>

  @if (frmGroup().get(controlName())?.invalid && (frmGroup().get(controlName())?.touched || frmGroup().get(controlName())?.dirty)) {
    <div class="text-red-500 text-xs mt-1">
      @if (frmGroup().get(controlName())?.errors?.['required']) {
        {{ label() }} is required!
      } @else if (frmGroup().get(controlName())?.errors?.['invalidCharacters']) {
        Only numbers and {{ getDateSeparator() }} are allowed
      } @else if (frmGroup().get(controlName())?.errors?.['invalidDateFormat']) {
        Please enter date in {{ dateFormat() }} format
      } @else if (frmGroup().get(controlName())?.errors?.['invalidDate']) {
        Please enter a valid date
      }
    </div>
  }
</div>
