<div [formGroup]="frmGroup()" class="input-container">
  <!-- Label -->
  <label class="input-label relative flex items-center gap-1">
    {{ label() }}
    @if (isRequired()) {
      <span class="text-red-500">*</span>
    }
  </label>

  <!-- Input -->
  <input
    [formControlName]="controlName()"
    [ngClass]="{ 'readonly-input': isReadonly() }"
    type="number"
    (keyup)="onChangeInput()"
    [readonly]="isReadonly()"
    matInput
    [placeholder]="placeholder() ?? 'Enter ' + label()"
    class="custom-input"
  />

  <!-- Error messages -->
  @if (isInvalid()) {
    <div class="text-red-500 text-sm mt-1">
      @if (hasError('required')) {
        <ng-container>
          {{ label() }} is required..!
        </ng-container>
      }
    </div>
  }

  <!-- Extra helper text -->
  <div class="text-sm mt-1 text-gray-600">
    {{ amountToWord() }}
  </div>
</div>
