<div [formGroup]="frmGroup()" [ngClass]="isVertical() ? 'input-container-vertical': 'input-container-horizontal'">
  <label class="input-label relative">
    {{ label() }}
    @if (isRequired()) {
      <span class="text-red-500">*</span>
    }
  </label>

  <div class="input-wrapper">
  <input 
    [formControlName]="controlName()"
    [ngClass]="{'readonly-input': isReadonly() }"
    type="number"
    (keypress)="onKeyPress($event)"
    inputmode="numeric"
    (input)="onInput($event)"
    [matTooltip]="tooltip()"
    [matTooltipPosition]="tooltipPosition()"
    [matTooltipClass]="tooltipClass()"
    [matTooltipDisabled]="!tooltip()"
    [readonly]="isReadonly()"
    [disabled]="isDisabled"
    (change)="onChange($event)"
    (blur)="onBlur($event)"
    matInput
    [placeholder]="placeholder() ?? 'Enter ' + label()"
    [min]="minValue() ?? 0"
    [max]="maxValue() ?? null"
    [maxLength]="maxLen() ?? null"
    [minLength]="minLen() ?? null"
    class="custom-input"
     autocomplete="off"
    step="1"/>
        @if (frmGroup().get(controlName())?.value && !isReadonly()) {
      <button 
        type="button"
        class="clear-button"
        (click)="clearInput()"
        [attr.aria-label]="'Clear ' + label()">
        <mat-icon>close</mat-icon>
      </button>
    }
    </div>
  
  @if (isInvalid()) {
    <div class="text-red-500 text-sm mt-1">
      @if (hasError('required')) {
        <ng-container>
          {{ label() }} is required!
        </ng-container>
      }

      @if (hasError('min')) {
        <ng-container>
          Minimum value required is {{ getErrorValue('min') }}
        </ng-container>
      }

      @if (hasError('max')) {
        <ng-container>
          Maximum value allowed is {{ getErrorValue('max') }}
        </ng-container>
      }

      @if (hasError('pattern')) {
        <ng-container>
          Only whole numbers are allowed 
        </ng-container>
      }

      @if (hasCustomErrors()) {
        @for (errorKey of getCustomErrorKeys(); track errorKey) {
          <div>{{ getCustomErrorMessage(errorKey) }}</div>
        }
      }

    </div>
  }
</div>