<div [formGroup]="frmGroup()" class="w-full flex flex-row justify-start items-center">
  <label class="input-label w-[20%]">
    {{label()}}
    @if (isRequired()) {
      <span class="text-red-500">*</span>
    }
  </label>
  <input [formControlName]="controlName()" [ngClass]="{'readonly-input': isReadonly() }"
         [readonly]="isReadonly()" matInput [placeholder]="placeholder() ?? 'Enter ' + label()" [type]="type() ?? 'text'" class="custom-input"
         (dblclick)="onDoubleClick.emit()"/>
  @if (frmGroup().get(controlName())?.invalid && (frmGroup().get(controlName())?.touched || frmGroup().get(controlName())?.dirty)) {
    <div class="text-red-500 text-sm mt-1">
      {{label()}} is required..!
    </div>
  }
</div>
