<div [formGroup]="frmGroup()" [ngClass]="isVertical() ? 'input-container-vertical': 'input-container-horizontal'">
  <label class="input-label">
    {{ label() }}
    @if (isRequired()) {
      <span class="text-red-500">*</span>
    }
  </label>

  <div class="input-wrapper">
    <input

      [formControlName]="controlName()"
      [attr.controlName]="controlName()"
      [ngClass]="{'readonly-input': isReadonly() }"
      [readonly]="isReadonly()"
      matInput
      [placeholder]="placeholder() ?? 'Enter ' + label()"
      [type]="type() ?? 'text'"
      [matTooltip]="tooltip()"
      [matTooltipPosition]="tooltipPosition()"
      [matTooltipClass]="tooltipClass()"
      [matTooltipDisabled]="!tooltip()"
      [maxlength]="maxLength() || null"
      class="custom-input"
      (dblclick)="onDoubleClick.emit()"
      (keydown)="preventSpecialChars($event)"
      (input)="onInput($event)"
      (change)="onChange($event)"
      (keydown)="onKeyDown($event)"
      (blur)="onBlur()"/>

    @if (frmGroup().get(controlName())?.value && !isReadonly()) {
      <button
        type="button"
        class="clear-button"
        (click)="clearInput()"
        [attr.aria-label]="'Clear ' + label()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
      </button>
    }
  </div>

  @if (frmGroup().get(controlName())?.errors && (frmGroup().get(controlName())?.touched || frmGroup().get(controlName())?.dirty)) {
    <div class="text-red-500 text-sm mt-1">
      <!-- Default error messages -->
      @if (frmGroup().get(controlName())?.hasError('required')) {
        {{ label() }} is required..!
      }
      @if (frmGroup().get(controlName())?.hasError('minlength')) {
        {{ label() }} must be at least {{ frmGroup().get(controlName())?.errors?.['minlength']?.requiredLength }} characters.
      }
      @if (frmGroup().get(controlName())?.hasError('maxlength')) {
        {{ label() }} cannot be more than {{ frmGroup().get(controlName())?.errors?.['maxlength']?.requiredLength }} characters.
      }
      @if (frmGroup().get(controlName())?.hasError('specialCharacterNotAllowed')) {
        {{ label() }} contains invalid characters.
      }
      @else if (hasCustomErrors()) {
        @for (errorKey of getCustomErrorKeys(); track errorKey) {
          <div>{{ getCustomErrorMessage(errorKey) }}</div>
        }
      }
    </div>
  }
</div>
